/* styles.css */

.section1 {
  background-color: lightblue;
  color: black;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif,;
}

.section2 {
  background-color: lightblue;
  color: black;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.section3 {
  background-color: lightblue;
  color: black;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.section4 {
  background-color: lightblue;
  color: black;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
}

