/* styles.css */

.body {
  background-color: lightblue;
  color: black;
  padding: 20px;
  font-family: Arial, sans-serif;

  background-color: lightgray;
  color: navy;
  padding: 20px;
  font-family: Tahoma, sans-serif;
}
