/* styles.css */

body {
  background-color: lightblue;
  color: black;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif,;
}
h1 {
  color: garnet;
  text-align: center;
}

.projects
{
  display:flex;
  flex-wrap:wrap;
}

.project
{
  width: 30%;
  margin: 10px;
  padding: 20px 10x;
  background: white;
  border-radius: 25%;
}

.project p 
{
  text-align: center;
  margin: 15px;
}

.project img
{
  width: 300px;
  height: 300px;
  margin: 10px;
  border: 2px solid rgb(white);
  display: block;
  text-align: center;
}

  
